[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic-settings = "*"
uvicorn = "*"
httpx = "*"

[dev-packages]
pre-commit = "*"
ruff = "*"
unittest = "*"

[requires]
python_version = "3.12"
